// Colors
$green           : #7cbc42;
$blue            : #27a9e0;
$very-dark-gray  : #363836;
$dark-gray       : #515251;
$light-gray      : #bfc4c0;
$very-light-gray : #e0e2e2;
$white           : #ffffff;
$black           : #000000;

// Fonts
@font-face {
    font-family : 'Bebas Neue';
    src         : url('/fonts/BebasNeue.woff2') format('woff2');
}
@font-face {
    font-family : 'Montserrat Light';
    src         : url('/fonts/Montserrat-Light.woff2') format('woff2');
}
@font-face {
    font-family : 'Montserrat Regular';
    src         : url('/fonts/Montserrat-Regular.woff2') format('woff2');
}

$font-title   : 'Bebas Neue';
$font-light   : 'Montserrat Light';
$font-regular : 'Montserrat Regular';

// CSS
* { box-sizing: border-box; }

body {
    margin           : 0;
    padding          : 0;
    background-color : $very-light-gray;
}

.content-wrapper {
    width            : 100%;
    min-height       : calc(100vh - 100px);
    display          : flex;
    justify-content  : center;
    font-family      : $font-regular;
    background-color : $very-light-gray;

    .loader-wrapper {
        display         : flex;
        align-items     : center;
        justify-content : center;
        transform       : translate3d(0, -5%, 0);

        .loader {
            width  : 100px;
            height : 100px;
        }
    }

    .content {
        position       : relative;
        width          : 1230px;
        padding-top    : 10px;
        display        : flex;
        flex-direction : column;

        .title-wrapper {
            width   : 100%;
            display : flex;

            .label { margin: 12px 0; }
        }

        .table {
             width           : 100%;
             border          : 0;
             border-spacing  : 0;
             border-collapse : collapse;

            .header {
                text-align: left;

                .item {
                    padding      : 10px 5px;
                    border-width : 0 0 3px 0;
                    border-style : solid;
                    font-size    : 14px;

                    &.right { text-align: right; }
                }
            }

            .data {
                .row {
                    border-bottom : 1px solid $light-gray;
                    cursor        : pointer;
                    transition    : background-color 0.1s linear;

                    &:hover { background-color: $light-gray; }

                    .item {
                        padding   : 10px 5px;
                        font-size : 16px;

                        &.right { text-align: right; }
                    }
                }
            }
        }
    }
}

$debug: false;
