@import './colors';
@import './fonts';
@import './responsive';

* { box-sizing: border-box; }

body {
    margin           : 0;
    padding          : 0;
    background-color : $pickled-bluewood;
    font-family      : $font-regular;
}

.body--no-scroll {
    position   : fixed;
    overflow-y : scroll;
}
