$green           : #7cbc42;
$blue            : #27a9e0;
$very-dark-gray  : #363836;
$dark-gray       : #515251;
$light-gray      : #bfc4c0;
$very-light-gray : #e0e2e2;
$alice-blue      : #f0f8ff;
$mint-cream      : #f5fffa;
$white           : #ffffff;
$mine-shaft      : #262626;
$black           : #000000;

$pickled-bluewood : #2c3e50;
$cinnabar         : #e74c3c;
$porcelain        : #ecf0f1;
$cornflower       : #90c4e6;
$curious-blue     : #3498db;
$mariner          : #2980b9;
